<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">

    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">Categories</li>
        <li class="list-group-item active">Cras justo odio
          <span class="badge badge-default badge-pill pull-right">14</span>
        </li>
        <li class="list-group-item">Cras justo odio
          <span class="badge badge-default badge-pill pull-right">14</span>
        </li>
        <li class="list-group-item">Cras justo odio
          <span class="badge badge-default badge-pill pull-right">14</span>
        </li>
        <li class="list-group-item">Cras justo odio
          <span class="badge badge-default badge-pill pull-right">14</span>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <input type="email" id="input2-group2" name="input2-group2" class="form-control" placeholder="Email">
                <span class="input-group-btn" style="margin-top:8px;">
                    <button type="button" class="btn btn-primary">A</button>
                  </span>
              </div>
            </div>
            <div class="col-md-6">
              <h6 class="float-right"><span class="badge badge-warning">Product List</span></h6>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-4">
              <div class="btn btn-outline-primary btn-block">
                <div class="col-xs-12 fa fa-user fa-3x"></div>
                <h5 class="col-12">Title</h5>
                <button class="btn btn-success btn-sm">+ Add</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn btn-outline-primary btn-block">
                <div class="col-xs-12 fa fa-user fa-3x"></div>
                <h5 class="col-12">Title</h5>
                <button class="btn btn-success btn-sm">+ Add</button>
              </div>
            </div>
            <div class="col-md-4">
              <div class="btn btn-outline-primary btn-block">
                <div class="col-xs-12 fa fa-user fa-3x"></div>
                <h5 class="col-12">Title</h5>
                <button class="btn btn-success btn-sm">+ Add</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item justify-content-between">
          Cras justo odio
          <span class="badge badge-default badge-pill">14</span>
        </li>
        <li class="list-group-item justify-content-between">
          Dapibus ac facilisis in
          <span class="badge badge-default badge-pill">2</span>
        </li>
        <li class="list-group-item justify-content-between">
          Morbi leo risus
          <span class="badge badge-default badge-pill">1</span>
        </li>
      </ul>
    </div>

    <!--/.col-->
  </div>
  <!--/.row-->
</div>