<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">

    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">Categories</li>
        <li class="list-group-item cursor" [ngClass]="{'active' : isSelecetdCategory(category,selectedCategory)}" *ngFor="let category of itemList"
          (click)="selectedCategory=category;">{{category.categoryName}}
          <span class="badge badge-info badge-pill pull-right">{{category.products.length}}</span>
        </li>
      </ul>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <input class="form-control" auto-complete [(ngModel)]="product" (valueChanged)="onSelect($event);" value-property-name="productId"
                display-property-name="productName" [list-formatter]="autocompleListFormatter" [source]="selectedCategory.products"
              />
            </div>
            <div class="col-md-6">
              <h6 class="float-right"><span class="badge badge-warning">Product List</span></h6>
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-4 cursor" *ngFor="let product of selectedCategory.products" (click)="addProduct(product);">
              <div class="btn btn-outline-primary btn-block">
                <div class="col-xs-12 fa fa-user fa-3x"></div>
                <h6 class="col-12">{{product.productName}}</h6>
                <button class="btn btn-success btn-sm">+ Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        <li class="list-group-item">Selected Products <button type="button" *ngIf="selectedProducts.length" class="btn btn-danger btn-sm pull-right"
            (click)="clearAddedProducts();">Clear</button> </li>
        <li class="list-group-item" *ngFor="let product of selectedProducts; let i = index;">
          <div class="col-xs-12 fa fa-user"> {{product.productName}}</div>
          <span class="badge badge-danger badge-pill pull-right" (click)="removeProduct(i);"> - Remove</span>

        </li>
        <li class="list-group-item" *ngIf="!selectedProducts.length">
          No products added
        </li>
      </ul>
    </div>

    <!--/.col-->
  </div>
  <!--/.row-->
</div>